@charset 'utf-8';
@import url(reset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* ======= 변수 ======= */
:root {
  --txt-color: #1B1C1C;
  --white: #fff;
  --primary: #F40009;
  --container : 1400px;
}

/* ======= 폰트 ======= */
body {
  font-family: 'Spoqa Han Sans Neo';
  color: var(--txt-color);
}

/* ======= LAYOUT ======= */
.container {
  width: var(--container); 
  margin: 0 auto;
}

/* ======= HEADER ======= */
header { z-index: 10; }
.top_nav {
  width: 100%; 
  position: fixed;
  top: 0;
  z-index: 99;
  height: 120px;
  background: rgba(255,255,255,.0);
  padding-top: 20px;
  transition: 0.3s ease-out;
}
.top_nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.top_nav nav > ul {
  display: flex;
  gap: 120px;
  justify-content: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}
.top_nav nav > ul.animated {
  left: 0;
  transition: left 0.3s;
}
.top_nav nav ul li a {
  color: var(--white);
  transition: 0.3s;
}
.top_nav nav ul li:hover a {
  color: var(--primary);
  font-weight: 700;
}
.top_nav nav ul li:hover a:after {transform: rotate(90deg);}
.top_nav nav ul li a:after {
  content: '>';
  margin-left: 5px;
  position: absolute;
  transform: rotate(0);
  transition: 0.3s;
}
.top_nav nav ul li {
  position: relative;
  height: 100%;
  display: block;
}
.top_nav nav ul li .lnb {
  position: absolute;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding-top: 49px;
  width: 100%;
  min-width: 200px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}
.top_nav nav ul li:hover .lnb {
  visibility: visible;
  opacity: 1;
}
.top_nav nav ul li .lnb:before {
  content: '';
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  height: 0;
  background-color: var(--primary);
  transition: 0.3s ease-out;
}
.top_nav nav ul li:hover .lnb:before { height: calc(100% - 49px);}
.top_nav .lnb ul { padding: 20px 0;}
.top_nav .lnb li { padding: 10px 10px;}
.top_nav #logo { width: 370px; height: 60px;}

.top_nav.shrink {
  background: rgba(255,255,255,1);
  height: 80px;
  padding-top: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
}
.top_nav.shrink > div {
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 180px;
}
.shrink #logo {width: 246px; height: 40px;}
.shrink nav ul li a {color: var(--txt-color);}

.main_banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main_banner .bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.main_banner .bg_video:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0,0,0,.85);
}
.main_banner .bg_video video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_banner .bg_wave img {
  position: absolute;
  width: 100%;
  height: 243px;
  bottom: 160px;
  object-fit: cover;
}
.main_banner .bg_item {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1;
  transition: 0.7s ease-in-out;
}
.main_banner .bg_item.fadeInOut { opacity: 0;}
.main_banner .bg_item #coca-cola {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(20deg) translate(-65%, -30%);
  width: 580px;
  height: 704px;
  z-index: 1;
  filter: drop-shadow(-20px 20px 80px #000);
}
.main_banner .bg_item #text-coca {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50px, -50%);
  filter: drop-shadow(-20px 20px 80px #000);
}
.main_banner .bg_item #text-cola {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50px, -50%);
  bottom: 350px;
  z-index: 2;
  filter: drop-shadow(-20px 20px 80px #000);
}


/* ======= MAIN ======= */
main { 
  position: relative;
  background: #EAEAE9;
  width: 100%;
  height: 100%;
  z-index: 20;
}
main section > h1 { font-size: 200px; line-height: 140px; font-weight: 700; text-transform: uppercase; color: rgba(255,255,255,.5);}
main h2 { font-size: 60px; font-weight: 700;}
main p { font-size: 20px; width: 214px; text-align: right; line-height: 30px;}

/* ======= MAIN - BRAND ======= */
.brand { padding-top : 350px; overflow: hidden;}
.brand .slide_wrapper { height: 460px; position: relative;}
.brand .slide_wrapper:after {
  content: '';
  background: #EAEAE9;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: -300px;
}
.brand .slide_wrapper ul {
  position: absolute;
  width: 100%;
  height:100%;
  margin:0;
  padding: 0;
  left: 0;
  transition: left 0.3s;
}
.brand .slide_wrapper ul li {
  position: absolute;
  background: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s linear;
}
.brand .slide_wrapper ul li > div>* {
  height: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.brand .slide_wrapper ul li.active div>* {
  opacity: 1;
}
.brand .slide_wrapper .slide1 .contents:before {
  content: '';
  background: url(../img/brand_bg_logo_cocacola.svg); width: 757px; height: 240px;
  position: absolute; top: 157px; left: 136px; z-index: -1;
}
.brand .slide_wrapper .slide2 .contents:before {
  content: '';
  background: url(../img/brand_bg_logo_sprite.svg) no-repeat;
  background-size: cover;
  width: 634px; height: 240px;
  position: absolute; top: 157px; left: 136px; z-index: -1;
}
.brand .slide_wrapper .slide3 .contents:before {
  content: '';
  background: url(../img/brand_bg_logo_powerade.svg) no-repeat;
  background-size: cover;
  width: 646px; height: 208px;
  position: absolute; top: 198px; left: 136px; z-index: -1;
}
.brand .slide_wrapper li .contents {
  display: flex;
  width: 100%;
  gap: 120px;
  justify-content: center;
  transform: translateY(-117px);
}
.brand .slide_wrapper li .contents img {
  filter: drop-shadow(-20px 20px 20px rgba(0,0,0,0.4));
  height: 660px;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}
.brand .slide_wrapper li .contents .items {
  display: flex;
  height: 460px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}
.brand .slide_wrapper li .contents .items a {
  background: var(--txt-color);
  color: var(--white);
  width: 120px; line-height: 40px;
  border-radius: 12px;
  border-style: none;
  text-align: center;
  transition: 0.3s linear;
}
.brand .slide_wrapper > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background: var(--txt-color);
  border-radius: 50%;
  color: var(--white);
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  transition: 0.3s linear;
}
#prev { left: 100px;}
#next { right: 100px;}
.brand .slide_wrapper ul.animated {
  left: 0;
  transition: left 0.3s;
}

.brand .slide_wrapper ul:hover .slide1 { background: var(--primary); color: var(--white);}
.brand .slide_wrapper ul:hover .slide2 { background: #17994B; color: var(--white);}
.brand .slide_wrapper ul:hover .slide3 { background: #10c7dd; color: var(--white);}
.brand .slide_wrapper ul:hover li .contents:before {
  opacity: 0.5;
}
.brand .slide_wrapper ul:hover ~ a,
.brand .slide_wrapper ul:hover li .items a {
  background: var(--white);
  color: var(--txt-color)
}
.brand .slide_wrapper ul:hover li .contents img {
  transform: translateY(-12%);
}

/* ======= MAIN - APP ======= */
.app {
  position: relative;
  margin-top : 350px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.app:before {
  content: '';
  position: absolute;
  background: var(--txt-color);
  width: 100%;
  height: 100%;
}
.app div { position: relative;}
.app .content {
  position: absolute;
  display: flex;
  gap: 116px;
  width: 100%;
  height: 300px;
  justify-content: center;
}
.app .content .desc_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}
.app .content .desc_1 h3,
.app .content .desc_1 a {
  color: var(--white);
}
.app .content .desc_1 h3 {
  width: 345px;
  font-size: 30px;
  line-height: 40px;
  text-align: right;
}
.app .content .desc_1 .search {display: flex; gap: 20px;}
.app .content .desc_1 .search a {
  font-size: 18px;
  line-height: 20px;
  border: 1px solid var(--white);
  padding: 14px 32px;
  display: flex;
  gap: 10px;
  box-sizing: border-box;
}
.app .content .desc_1 .search a img {height: 20px;}
.app .content .desc_2 {
  height: 300px;
  display: flex;
  gap: 98px;
}
.app .content .desc_2 #app_screen {
  transform: translateY(38px);
  width: 200px;
  height: 375px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255,255,255,.5);
}
.app .content .desc_2 #app_logo {
  width: 120px;
  height: 120px;
  transform: translateY(calc(150px - 50%));
  border-radius: 20px;
}

/* ======= MAIN - COMPANY ======= */
.company {
  margin-top: 350px;
  width: 100%;
  height: 700px;
}
.company .content {
  position: relative;
  width: 100%;
  height: 100%;
}
.company .content .bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.company .content .bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  opacity: 0;
  transition: 0.3s linear;
}
.company .content:hover .bg:after {
  opacity: 0.5;
}
.company .content .container {
  height: 100%;
}
.company .content .container .item {
  position: absolute;
  opacity: 0;
  margin-top: 171px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  color: var(--white);
  transition: 0.3s linear;
}
.company .content .container .item p {
  width: 420px;
  text-align: justify;
}
.company .content .container .item a {
  color: var(--white);
  font-size: 18px;
  line-height: 20px;
  border: 1px solid var(--white);
  border-radius: 12px;
  padding: 14px;
}
.company .content:hover .container .item {
  opacity: 1;
}
.content .bg img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======= MAIN - SUSTAINABILITY ======= */
.sustainability {
  margin-top: 350px;
}
.sustainability .banner {
  display: flex;
  justify-content: center;
  height: 429px;
}
.sustainability .banner .content {
  position: relative;
  width: 574px;
  height: 429px;
}
.sustainability .banner .content:before {
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s linear;
}
.sustainability .banner .content:hover:before {
  opacity: 0.5;
}
.sustainability .banner .content .item {
  position: absolute;
  color: var(--txt-color);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: var(--white);
  bottom: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.sustainability .banner .content:hover .item {
  opacity: 1;
}
.sustainability .banner .content .item h3 {
  font-size: 30px;
  font-weight: 700;
}
.sustainability .banner .content .item a {
  font-size: 18px;
  border: 1px solid var(--txt-color);
  padding: 14px;
  border-radius: 12px;
}
.sustainability .banner div img {
  width: 574px;
  height: 429px;
}

/* ======= MAIN - YOUTUBE ====== */
.youtube {
  margin-top: 350px;
}
.youtube h1 { margin-bottom: 124px;}
.youtube .content {
  background: var(--primary);
  width: 100%;
  height: 329px;
}
.youtube .content div {
  position: relative;
  height: 100%;
}
.youtube .content div .button {
  position: absolute;
  right: 10%;
}
.youtube .content div .button #youtube-next {
  margin-left: 75px;
}
.youtube .content div .button > a {
    position: absolute;
    top: -200px;
    color: var(--white);
    background: var(--txt-color);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}
.youtube .content .container .video {
  position: absolute;
  bottom: 121px;
  display: flex;
  gap: 20px;
}
.youtube .content .container .video iframe { border-radius: 30px;}


.go_to_top {
  position: fixed;
  color: var(--white);
  background: var(--txt-color);
  bottom: 20px;
  right: 20px;
  z-index: 100;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 80px;
  line-height: 80px;
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 14px;
  opacity: 0;
}
.go_to_top:hover {
  background: var(--primary);
}
.go_to_top.on {
  opacity: 1;
}

/* ======= FOOTER ====== */
footer {
  background: var(--txt-color);
  width: 100%;
  height: 427px;
  position: absolute;
  z-index: 20;
}